// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/


.box-display
  float: left
  margin-right: 20px
  margin-bottom: 20px 
  border: 1px solid lightgray
  height: 100px 
  width: 350px

.media_font

@media only screen and (max-device-width : 320px)
  .media_font
    font-size: 10px
  .box-display
    float: left
    margin-right: 20px
    margin-bottom: 20px 
    border: 1px solid lightgray
    height: 100px 
    width: 280px
